* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e0e0e0;
    outline: none;
}

.container {
    background-color: #e0e0e0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculator {
    background-color: #3b3b3d;
    padding: 15px;
    margin: 15px;
    border-radius: 30px;
    box-shadow: inset -5px -5px 12px #2e2e30, 
                5px 5px 12px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input {
    text-align: end;
    font-size: 40px;
    margin-bottom: 2px;
    grid-column: span 4;
    height: 70px;
    width: 280px;
    border: none;
    border-radius: 20px;
    background: #222;
    color: #fff;
    box-shadow: inset 5px 5px 12px #1a1a1a,
                5px 5px 12px rgba(0, 0, 0, 0.2);
}

button {
    padding: 15px;
    border: none;
    margin: 3px;
    border-radius: 20px;
    background: #505053;
    color: white;
    box-shadow: inset 5px 5px 12px #5a5a5c,
                5px 5px 12px rgba(0, 0, 0, 0.16);
}

.equal {
    width: 135px;
    background: #ff6f00;
    color: white;
}
.Calculator {
    background-color: #3b3b3d;
    padding: 20px; 
    margin: 20px; 
    border-radius: 30px;
    box-shadow: inset -5px -5px 12px #2e2e30, 
                5px 5px 12px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 70px);
    height: 450px; 
}

button {
    padding: 18px; 
}

input {
    height: 80px; 
}
